/* *{
	font-family: monospace;
} */
body{
	background-color: white;
	height: 100%;
	width: 100%;
	font-size:12px;
}
/* .navbar .navbar-nav > li > a{
	font-family: monospace !important;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown ul li a{
	font-family: monospace !important;
} */
/*======== Navbar color ===========*/
.flat-blue .navbar.navbar-inverse{
	background-color: #0094CC !important;
	max-height:45px;
}
.flat-blue .navbar.navbar-inverse > .container-fluid{
	background-color: #0094CC !important;
}.flat-blue .navbar.navbar-inverse .navbar-nav > li{
	border-left: 0px solid #0094CC !important;
}
@media screen and (max-width:980px) {
	.flat-blue .navbar.navbar-inverse .navbar-nav > li{
	border-left: 0px solid white !important;
}
}
.navbar .navbar-nav > li > a{
	padding: 0px 20px 0px 0px;
}
.flat-blue .side-menu.sidebar-inverse{
	background-color: #0094CC !important;
}
.flat-blue .side-menu.sidebar-inverse .navbar{
	background-color: #0094CC !important;
}
.bg-default, .bg-default:HOVER{
    color: #fff;
    background: #0094CC !important;
}
#panelBody{
	background-color: #007099;
}
/** Dashboard card class **/
@media only screen and (min-width: 980px) {
.asmt-tile{
    background-color: #4678ab;
	margin-right:10px;
	color:#fff;
	min-height:135px;
	padding: 5px 10px 12px 10px !important;
	border-radius: 15px;
}
}

@media only screen and (max-width: 980px) {
	.asmt-tile{
    background-color:#4678ab;
	margin-right:10px;
	color:#fff;
	min-height:180px;
	padding: 5px 10px 12px 10px !important;
	border-radius: 15px;
}
}
/* Scorecard */
.db-header, .ver-card-header{
 	float:right;
    text-align: center;
    margin: -47px 3px 0;
    border-radius:3px;
    padding:15px;
    font-size: 13px;
    font-weight: bold;
    color:#fff;
	background: #4678ab;
    box-shadow: 0 12px 20px -10px #80a6cb, 0 4px 20px 0px #4678ab, 0 7px 8px -5px #80a6cb;
}