body{
	background-color: white;
	height: 100%;
	width: 100%;
	font-size:12px;
}
/*======== Navbar color ===========*/

.flat-blue .navbar.navbar-inverse{
	background-color: #890054 !important;
	max-height:45px;
}
.flat-blue .navbar.navbar-inverse > .container-fluid{
	background-color: #890054 !important;
}.flat-blue .navbar.navbar-inverse .navbar-nav > li{
	border-left: 0px solid #890054 !important;
}

.navbar .navbar-nav > li > a{
	padding: 0px 20px 0px 0px;
}
.flat-blue .side-menu.sidebar-inverse{
	background-color: #890054 !important;
}
.flat-blue .side-menu.sidebar-inverse .navbar{
	background-color: #890054 !important;
}

.bg-default, .bg-default:HOVER{
    color: #fff;
    background: #890054 !important;
}

#panelBody{
	background-color: #580a3a;
}
/** Dashboard card class **/
/* MPAF */
@media only screen and (min-width: 980px) {
.asmt-tile{
    background-color: #906758;
	margin-right:10px;
	color:#fff;
	min-height:135px;
	padding: 5px 10px 12px 10px !important;
	border-radius: 15px;
}
}

@media only screen and (max-width: 980px) {
	.asmt-tile{
    background-color:#906758;
	margin-right:10px;
	color:#fff;
	min-height:180px;
	padding: 5px 10px 12px 10px !important;
	border-radius: 15px;
}
}
/* Scorecard */
.db-header, .ver-card-header{
 	float:right;
    text-align: center;
    margin: -47px 3px 0;
    border-radius:3px;
    padding:15px;
    font-size: 13px;
    font-weight: bold;
    color:#fff;
	background: linear-gradient(60deg, #906758, #7b5b4e);
    box-shadow: 0 12px 20px -10px #a27768, 0 4px 20px 0px #8c6456, 0 7px 8px -5px #a06f5e;
}